In [1]:
import pandas as pd

In [26]:
df = pd.read_excel('./Data/2410_iPAGE_SoilData_withDate.xlsx')
df.columns

Index(['Area', 'Data Collection Year', 'soil group', 'Land class',
       'knit (surface)', 'pH', 'SOC (%)', 'Nitrogen N (%)',
       'Potassium K (meq/100)', 'Phosphorus P (ug/g)', 'Sulfur S (ug/g)',
       'Boron B (ug/g)', 'Zinc Zn (ug/g)'],
      dtype='object')

In [27]:
df.shape

(618, 13)

In [28]:
df.isna().sum()
# column Knit (surface has 157 NaN values)

Area                       0
Data Collection Year       0
soil group                 0
Land class                 0
knit (surface)           157
pH                         0
SOC (%)                    0
Nitrogen N (%)             0
Potassium K (meq/100)      0
Phosphorus P (ug/g)        0
Sulfur S (ug/g)            0
Boron B (ug/g)             0
Zinc Zn (ug/g)             0
dtype: int64

In [29]:
df.dtypes
# here we can see that all the numerical columns other than SOC has some non numerical entries in it.

Area                      object
Data Collection Year       int64
soil group                object
Land class                object
knit (surface)            object
pH                        object
SOC (%)                  float64
Nitrogen N (%)            object
Potassium K (meq/100)     object
Phosphorus P (ug/g)       object
Sulfur S (ug/g)           object
Boron B (ug/g)            object
Zinc Zn (ug/g)            object
dtype: object

In [30]:
#checking the number of non numerical entries in the numerical columns
for i in range(4,len(df.columns)):
    num_non_numeric = pd.to_numeric(df[df.columns[i]],errors='coerce').isnull().sum()
    print(df.columns[i],":",num_non_numeric)

knit (surface) : 618
pH : 2
SOC (%) : 0
Nitrogen N (%) : 8
Potassium K (meq/100) : 2
Phosphorus P (ug/g) : 2
Sulfur S (ug/g) : 1
Boron B (ug/g) : 27
Zinc Zn (ug/g) : 1

In [31]:
# checking the non numerical values in each of these columns
for i in range(4,len(df.columns)):
    is_non_numeric = pd.to_numeric(df[df.columns[i]],errors='coerce').isnull()
    print(df.columns[i])
    print(df[is_non_numeric][df.columns[i]])
    print('-----------------------------------')

knit (surface)
0      brick
1      brick
2      brick
3      brick
4      brick
       ...
613      NaN
614      NaN
615      NaN
616      NaN
617      NaN
Name: knit (surface), Length: 618, dtype: object
-----------------------------------
pH
186    4..80
533     5.`3
Name: pH, dtype: object
-----------------------------------
SOC (%)
Series([], Name: SOC (%), dtype: float64)
-----------------------------------
Nitrogen N (%)
481    Very Low
488    Very Low
489    Very Low
501    Very Low
511    Very Low
512    Very Low
514    Very Low
617    Very Low
Name: Nitrogen N (%), dtype: object
-----------------------------------
Potassium K (meq/100)
412     .0.15
438    ..0.30
Name: Potassium K (meq/100), dtype: object
-----------------------------------
Phosphorus P (ug/g)
381    0.65.87
413     ......
Name: Phosphorus P (ug/g), dtype: object
-----------------------------------
Sulfur S (ug/g)
75    13..8
Name: Sulfur S (ug/g), dtype: object
-----------------------------------
Boron B (ug/g)
2         0.`44
463    Very Low
467    Very Low
468    Very Low
469    Very Low
471    Very Low
473    Very Low
475    Very Low
477    Very Low
479    Very Low
480    Very Low
481    Very Low
486    Very Low
488    Very Low
489    Very Low
491    Very Low
494    Very Low
495    Very Low
496    Very Low
501    Very Low
503    Very Low
506    Very Low
507    Very Low
509    Very Low
511    Very Low
514    Very Low
515    Very Low
Name: Boron B (ug/g), dtype: object
-----------------------------------
Zinc Zn (ug/g)
564    0..36
Name: Zinc Zn (ug/g), dtype: object
-----------------------------------

In [32]:
df['soil group'].unique()

array(['Khilgaon', 'The militants', 'Imadpur', 'belab', 'Noadda',
       'the moon', 'the pen ', 'Kachna ', 'Kaunia', 'Teesta sandy soil',
       'Gangachara', 'Alluvial soil of Teesta', 'Sahapur', 'Pirgacha',
       'Palashbari', 'Berries', 'Imadpur ', 'Berries ', 'Chilmari',
       'Saghata ', 'The militants ', 'Kachna', 'recession', 'Menanagar',
       'Bhimpur', 'Indrail', 'chilmari'], dtype=object)

In [33]:
df['Area'].value_counts()

Area
Mithpukur         213
Pirgacha          149
Kaunia upazila     99
Taraganj Thana     97
Gangachara         60
Name: count, dtype: int64

In [34]:
df['Land class'].value_counts()

Land class
Medium high land               319
high ground                    268
Medium low land                 25
Deep medium high land            3
Shallow to medium high land      3
Name: count, dtype: int64

In [25]:
df['knit (surface)'].value_counts()

knit (surface)
loam           358
Clay loam       76
loam clay       15
brick            9
in the sand      3
Name: count, dtype: int64