In [7]:
!pip install tqdm

Collecting tqdm
  Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.5/78.5 KB 126.3 kB/s eta 0:00:001m188.7 kB/s eta 0:00:01
Installing collected packages: tqdm
Successfully installed tqdm-4.67.1

In [8]:
!pip install geopy

Requirement already satisfied: geopy in /home/deyon/projects/IPAGE/.venv/lib/python3.10/site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /home/deyon/projects/IPAGE/.venv/lib/python3.10/site-packages (from geopy) (2.0)

In [9]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderServiceError
from pathlib import Path
from tqdm import tqdm

In [2]:
path = Path()
data_path = path.cwd().parent.parent / "task_3_model_development_and_training/by-Jamsheeda/Data/isda_final.csv"

In [3]:
df = pd.read_csv(data_path)
df.sample(5)

,longitude,latitude,Boron,SOC,Nitrogen,pH,Phosphorus,Potassium,Sulfur,Zinc,Sand,Silt,Clay,Area,Soil group,Land class,Soil type
531,9.01424,9.61259,0.237023,19.19360,1.451840,5.74359,9.99953,123.6710,11.96640,1.880550,56.0,18.0,24.0,isda,isda,isda,isda
1547,4.46881,9.87029,0.060170,6.58281,0.676342,5.91999,6.08083,100.2250,8.44133,1.300010,56.0,22.0,19.0,isda,isda,isda,isda
785,11.39515,9.15956,0.016663,4.20070,0.213469,5.86813,6.61270,53.0109,4.08352,0.815084,50.0,24.0,22.0,isda,isda,isda,isda
489,8.42095,8.97359,0.199381,15.92070,1.284260,6.42032,9.21987,137.0680,6.28109,1.969040,57.0,19.0,23.0,isda,isda,isda,isda
915,5.44494,9.97542,0.022784,8.20832,0.425003,5.80683,7.56400,81.8168,5.79863,0.889357,70.0,18.0,13.0,isda,isda,isda,isda

In [12]:
df.shape[0]

(2109, 17)

In [15]:
def get_geospacial_details(df: pd.DataFrame) -> list[list[str|float]]:
    location_details = []
    for index, row in tqdm(df.iterrows(), total=df.shape[0], desc="Processing"):
        longitude = str(row.loc["longitude"])
        latitude = str(row.loc["latitude"])
        address = ",".join([latitude, longitude])
    
        geolocator = Nominatim(user_agent="my_geopy_app")
        
        try:
            location = geolocator.reverse(address)
            address = location.raw['address']
        
            # Traverse the data
            city = address.get('city', float("nan"))
            state = address.get('state', float("nan"))
            country = address.get('country', float("nan"))
            location_details.append([city, state, country])
        
        except GeocoderServiceError as e:
            location_details.append([float("nan"), float("nan"), float("nan")])
    return location_details

In [16]:
location_details = get_geospacial_details(df.head(20))

Processing: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 20/20 [00:21<00:00,  1.08s/it]

In [17]:
location_details

[['Bauchi', 'Bauchi', 'Nigeria'],
 [nan, 'Taraba', 'Nigeria'],
 [nan, 'Plateau', 'Nigeria'],
 [nan, 'Plateau', 'Nigeria'],
 ['Kagarko North', 'Kaduna', 'Nigeria'],
 [nan, 'Nasarawa', 'Nigeria'],
 [nan, 'Plateau', 'Nigeria'],
 [nan, 'Nasarawa', 'Nigeria'],
 [nan, 'Niger', 'Nigeria'],
 [nan, 'Niger', 'Nigeria'],
 ['Geshere', 'Kaduna', 'Nigeria'],
 [nan, 'Niger', 'Nigeria'],
 ['Aboro', 'Kaduna', 'Nigeria'],
 [nan, 'Taraba', 'Nigeria'],
 ['Kushe', 'Kaduna', 'Nigeria'],
 [nan, 'Plateau', 'Nigeria'],
 ['Bokana', 'Kaduna', 'Nigeria'],
 [nan, 'Plateau', 'Nigeria'],
 [nan, 'Niger', 'Nigeria'],
 ['Gora', 'Kaduna', 'Nigeria']]